.q1{
    background-image: url(https://rainbowit.net/html/histudy/assets/images/splash/icons/shape-3.png);
padding-top: 30px;
background-color: #CFA2E8;

}
.q2{
    width: 150px;
}
.nav-link{
    font-size: 20px;
    font-weight: 600;w
}
.navbar-nav{
    margin-left: 150px;

}
.btn{
    padding: 7px 30px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border-radius: 24px;
    
    color: black;
   
}
.d-flex{
    background: linear-gradient(90deg, #CFA2E8, #637FEA);
    padding: 2px 2px;
    border-radius: 23px;
}
.q3{
    font-size: 77px;
    font-weight: 700;
}
.q6{
color: #4D5CEF;
}
.q7{
color: #AA68EA;
}
.q8{
    background-color: #4D5CEF;
    padding: 10px 20px;
    border-right: 1px solid #DACFFC;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.q10{
    color: white;
    font-weight: 700;
}
.q11{
    font-weight: 600;
    color: #DACFFC;
}
.q9{
    width: 100px;
}
.q12{
    background-color: #4D5CEF;
    padding: 10px 20px;
    border-right: 1px solid #DACFFC; 
}
.q13{
    background-color: #4D5CEF;
    padding: 10px 20px;
    
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.w3{
    color: #AA68EA;
    font-weight: 600;
    padding: 7px 28px;
    background-color: #F6EBFC;
    display: inline;
    border-radius: 20px;
}
.w2{
    font-weight: 700;
    font-size: 50px;
}
.w4{
    padding: 10px 20px;
    background-color: #2AC99C;
    border-radius: 20px;
}
.w5{
    color: white;
    font-weight: 400;
}
.w6{
    color: white;
    font-weight: 600;
}
.w10{
    padding: 10px 20px;
    background-color: #FE752F;
    border-radius: 20px;
}
.w11{
    padding: 10px 20px;
    background-color: #4F92FF;
    border-radius: 20px;
}